$primaryColor: #7fc4fd;
$accentColor: #2699fb;
$primaryBackgroundColor: #bce0fd;
$secondaryBackgroundColor: #f1f9ff;
$disabledColor: #f0f0f0;

$header-1: 30px;
$header-2: 24px;
$header-3: 20px;

$font-size-base: 14px;
$font-size-sm: 16px;
$font-size-lg: 18px;
