@import 'themes/themeVariables.scss';

.home-page__main-container {
  height: 100%;
  background-color: $primaryBackgroundColor;

  .url-input__container {
    width: 100%;
    text-align: center;
    vertical-align: bottom;

    .url-input {
      height: 50px;
      width: 300px;
      margin: 0 20px 0 0;
      padding: 0px 15px;
      border-radius: 8px;
      border: 1px solid grey;
      color: black;
      font-size: $font-size-lg;
      background-image: none;
      box-sizing: border-box;
    }

    .shorten-url-submit-btn {
      height: 50px;
      width: 100px;
      display: inline-block;
      border: 1px transparent;
      border-radius: 8px;
      font-size: $font-size-lg;
    }
  }
}
